.row-1 {
    height: 20vh;
  }

  .row-2 {
    height: 10vh;
  }

  .row-3 {
    height: 70vh;
  }

.sy{
    width: 400px;
    z-index: 10;
}

.subjectlist{
    height: 65vh;
}

.subject-link:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
