 body {
      min-height: 100vh;
      display: flex;
      font-family: 'Inter', sans-serif !important;
    }
    .sidebar {
      min-width: 300px;
      max-width: 300px;
      background-color: #7F5539;
      color: white;
      flex-shrink: 0;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: block;
    }
    .sidebar a:hover,
    .sidebar a.active {
      background-color: #495057;
    }
    .content {
      flex-grow: 1;
      padding: 20px;
      background-color: #EDE2CC;
    }
    .content-section {
      display: none;
    }
    .content-section.active {
      display: block;
    }

.logo-divider {
  height: 3px;
  background-color: white; /* light white */
  margin: 10px 20px; /* adjust spacing as needed */
  margin-top: 30px;
}

.profile-overlay {
    position: absolute;
    top: 20px;
    left: 50px;
    right: 20px;
    padding: 20px;
    background-color: #C49979; /* Match the image overlay color */
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.subject-link {
  color: black !important;
  transition: color 0.2s ease;
}

.subject-link:hover {
  color: gray !important; /* Bootstrap's primary blue */
  text-decoration: underline;
}
